﻿
@{
    ViewData["Title"] = "GetDocumentation";
}

<!DOCTYPE html>
<html>

<head>
    <title>Flahcard-helper</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #e9ebee
        }

        button {
            background-color: #4CAF50;
            border: 1px solid rgb(85, 85, 85);
            color: #e9ebee;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 3px;
        }

            button:hover {
                background-color: #e9ebee;
                color: #4CAF50;
            }

        .hide {
            display: none;
            background-color: white;
            border: 1px solid #dddfe2;
            margin: 10px;
            padding: 10px;
        }

        .nav {
            text-align: center;
        }

        hr {
            color: white;
        }
    </style>
</head>


<body>

    <div class="main">
        <div class="nav">
            <h1>Flashcards - helper</h1>
        </div>

        <hr>

        <div class="content">
            <button onclick="toggle_visibility('register')">REGISTER</button>
            <div id="register" class="hide">
                <p>
                    <b>URL: </b>http://flashcardsapifinal20180522103557.azurewebsites.net/api/register
                </p>
                <p>
                    <b>METODA: </b>POST
                </p>
                <p>
                    <b>REQUEST (JSON):</b>
                </p>
                <pre>
                <code>
                    {
                        "login": "pawel",
                        "email": "pawel@pawel.pl",
                        "password": "pawel",
                        "isLearn": true,
                        "city": "Wrocław"
                    }
                    </code>
                </pre>
                <p>
                    <b>RESPONSE:</b> Status: 200 (jeśli się udało) | 400 (jeśli coś poszło nie tak)
                </p>
                <p>
                    <b>WIĘCEJ INFO:</b> Login i email muszą być unikatowe. Wymagane: login, email, password, isLearn.
                </p>
            </div>

            <hr>
            <button onclick="toggle_visibility('login')">LOGIN</button>
            <div id="login" class="hide">
                <p>
                    <b>URL: </b>http://flashcardsapifinal20180522103557.azurewebsites.net/api/login
                </p>
                <p>
                    <b>METODA: </b>POST
                </p>
                <p>
                    <b>REQUEST (JSON):</b>
                </p>
                <pre>    
                <code>
                    {
                        "login": "pawel",
                        "password": "pawel"
                    }
                    </code>
                </pre>
                <p>
                    <b>RESPONSE:</b> Status: 200 + dane (jeśli się udało) | 400 (jeśli coś poszło nie tak)
                </p>
                <pre>    
                <code>
                            {
                                "id": 1,
                                "token": null,
                                "email": "pawel@pawel.pl",
                                "login": "pawel",
                                "password": "pawel",
                                "photo": null,
                                "isLearn": false,
                                "region": null,
                                "city": null,
                                "lists": [
                                    {
                                        "id": 1,
                                        "userId": 1,
                                        "user": null,
                                        "name": "My first list",
                                        "isPublic": false,
                                        "flashcards": [
                                            {
                                                "id": 1,
                                                "listId": 1,
                                                "polishFlashcard": "cześć",
                                                "englishFlashcard": "hello",
                                                "isLearned": false,
                                                "list": null
                                            },
                                            {
                                                "id": 2,
                                                "listId": 1,
                                                "polishFlashcard": "piwo",
                                                "englishFlashcard": "beer",
                                                "isLearned": false,
                                                "list": null
                                            },
                                            {
                                                "id": 3,
                                                "listId": 1,
                                                "polishFlashcard": "gotowy",
                                                "englishFlashcard": "ready",
                                                "isLearned": false,
                                                "list": null
                                            }
                                        ]
                                    },
                                    {
                                        "id": 2,
                                        "userId": 1,
                                        "user": null,
                                        "name": "My second list",
                                        "isPublic": false,
                                        "flashcards": [
                                            {
                                                "id": 4,
                                                "listId": 2,
                                                "polishFlashcard": "testPl",
                                                "englishFlashcard": "testEN",
                                                "isLearned": false,
                                                "list": null
                                            },
                                            {
                                                "id": 5,
                                                "listId": 2,
                                                "polishFlashcard": "drzwi",
                                                "englishFlashcard": "door",
                                                "isLearned": false,
                                                "list": null
                                            }
                                        ]
                                    }
                                ]
                            }
                    </code>
                    </pre>
                <p>
                    <b>WIĘCEJ INFO:</b> Do logowania używany jest LOGIN (nie email).
                </p>
            </div>

            <hr>

            <button onclick="toggle_visibility('add_list')">ADD LIST</button>
            <div id="add_list" class="hide">
                <p>
                    <b>URL: </b>http://flashcardsapifinal20180522103557.azurewebsites.net/api/list
                </p>
                <p>
                    <b>METODA: </b>POST
                </p>
                <p>
                    <b>REQUEST (JSON):</b>
                </p>
                <pre>
                <code>
                            {
                                "userId": 4,
                                "name": "My first list",
                                "isPublic": false
                            }
                    </code>
                </pre>
                <p>
                    <b>RESPONSE:</b> Status: 200 (jeśli się udało) + dane listy | 400 (jeśli coś poszło nie tak)
                </p>

                <pre>
                <code>
                            {
                                "id": 2,
                                "userId": 4,
                                "user": null,
                                "name": "My first list",
                                "isPublic": false,
                                "flashcards": null
                            }
                    </code>
                </pre>
                <p>
                    <b>WIĘCEJ INFO:</b> Wymagane: userId, name, isPublic.
                </p>
            </div>

            <hr>

            <button onclick="toggle_visibility('add_flashcard')">ADD FLASHCARD</button>
            <div id="add_flashcard" class="hide">
                <p>
                    <b>URL: </b>http://flashcardsapifinal20180522103557.azurewebsites.net/api/flashcard
                </p>
                <p>
                    <b>METODA: </b>POST
                </p>
                <p>
                    <b>REQUEST (JSON):</b>
                </p>
                <pre>
                <code>
                            {
                                "listId": 2,
                                "PolishFlashcard": "Uśmiech",
                                "EnglishFlashcard": "Smile",
                                "isLearned": false
                            }
                    </code>
                </pre>
                <p>
                    <b>RESPONSE:</b> Status: 200 (jeśli się udało) + dane listy | 400 (jeśli coś poszło nie tak)
                </p>

                <pre>
                <code>
                            {
                                "id": 6,
                                "listId": 2,
                                "polishFlashcard": "Uśmiech",
                                "englishFlashcard": "Smile",
                                "isLearned": false,
                                "list": null
                            }
                    </code>
                </pre>
                <p>
                    <b>WIĘCEJ INFO:</b> Wymagane: to co w request :P.
                </p>
            </div>

            <hr>

            <button onclick="toggle_visibility('update_flashcard')">UPDATE FLASHCARD (isLearned)</button>
            <div id="update_flashcard" class="hide">
                <p>
                    <b>URL: </b>http://flashcardsapifinal20180522103557.azurewebsites.net/api/flashcard
                </p>
                <p>
                    <b>METODA: </b>PUT
                </p>
                <p>
                    <b>REQUEST (JSON):</b>
                </p>
                <pre>
                <code>
                            {
                                "id": 2,
                                "isLearned": true
                            }
                    </code>
                </pre>
                <p>
                    <b>RESPONSE:</b> Status: 200 (jeśli się udało) | 400 (jeśli coś poszło nie tak)
                </p>
                <p>
                    <b>WIĘCEJ INFO:</b> Wymagane: to co w request :P.
                </p>
            </div>
            <hr>


        </div>
    </div>



    <script type="text/javascript">
        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }

    </script>
</body>

</html>